server:
  port: 8089

spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: COPT
    password: copt123
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    database-platform: org.hibernate.dialect.Oracle12cDialect
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        default_schema: COPT
        format_sql: true
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

# URL du notification-service (Docker)
notification:
  service:
    url: http://notification-service:8087
