server:
  port: 8087
spring:
  application:
    name: notification-service
  mail:
    host: smtp.gmail.com
    port: 587
    username: cnss.cooperation@gmail.com
    password: your-password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
