server:
  port: 8087
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
spring:
  application:
    name: notification-service
  jackson:
    mapper:
      ACCEPT_CASE_INSENSITIVE_PROPERTIES: true
  codec:
    max-in-memory-size: 50MB
  mail:
    host: ${SMTP_HOST:smtp.gmail.com}
    port: ${SMTP_PORT:587}
    username: ${SMTP_USERNAME:doejohnk29@gmail.com}
    password: ${SMTP_PASSWORD:adkdlfavuoxhuemp}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html
