server:
  port: 8080

spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "http://localhost:4200"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true
            maxAge: 3600
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/api/auth/**
            
        - id: users-service
          uri: lb://auth-service
          predicates:
            - Path=/api/users/**
            
        - id: employer-service
          uri: lb://employer-service
          predicates:
            - Path=/api/employers/**
          filters:
            - StripPrefix=1

        - id: cooperant-service
          uri: lb://employer-service
          predicates:
            - Path=/api/cooperants/**
            
        - id: salary-service
          uri: lb://salary-service
          predicates:
            - Path=/api/salaries/**
          filters:
            - StripPrefix=1
            
        - id: regime-service
          uri: lb://regime-service
          predicates:
            - Path=/api/regimes/**
          filters:
            - StripPrefix=1
            
        - id: affiliation-service
          uri: lb://affiliation-service
          predicates:
            - Path=/api/affiliations/**
          filters:
            - StripPrefix=1
            
        - id: reports-service
          uri: lb://affiliation-service
          predicates:
            - Path=/api/reports/**
            
        - id: debit-service
          uri: lb://debit-service
          predicates:
            - Path=/api/debits/**
          filters:
            - StripPrefix=1
            
        - id: payment-service
          uri: lb://payment-service
          predicates:
            - Path=/api/payments/**
          filters:
            - StripPrefix=1
            
        - id: notification-service
          uri: lb://notification-service
          predicates:
            - Path=/api/notification/**
          filters:
            - StripPrefix=1
            
        - id: file-service
          uri: lb://file-service
          predicates:
            - Path=/api/files/**
          filters:
            - StripPrefix=1

  redis:
    host: localhost
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"
