server:
  port: 8081

spring:
  application:
    name: employer-service
  datasource:
    url: jdbc:oracle:thin:@localhost:1521/XEPDB1
    username: COPT
    password: copt123
    driver-class-name: oracle.jdbc.OracleDriver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.OracleDialect
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: "*"

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui/index.html

# URLs des services internes (Docker)
auth:
  service:
    url: http://auth-service:8089
notification:
  service:
    url: http://notification-service:8087
